{:deps        {org.clojure/tools.deps.alpha {:mvn/version "0.13.1168"}
               org.slf4j/slf4j-nop          {:mvn/version "1.7.36"}}
 :aliases     {:build   {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
                         :ns-default build}
               :bigdeps {:exec-fn kwill.bigdeps/run}}
 :tools/usage {:ns-default kwill.bigdeps}}
